* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo{
  max-width: 100px;
}

main{
  padding: 20px 30px;
}

.main--photo_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--photo{
  display: flex;
  max-width: 400px;
}

.main--title{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.main--text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #4F4F4F;
}